<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gestion Academica</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="row">
      <div class="col-sm-10 mx-auto mt-4">
        <ul class="nav nav-pills">

          <!--Menu Alumno-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Alumno</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'crearAlumno' %}">Crear</a>
              <a class="dropdown-item" href="{% url 'listarAlumnos' %}">Listar</a>
            </div>
          </li>
          <!--Fin Menu Alumno-->

          <!--Menu Cursos-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cursos</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Crear</a>
              <a class="dropdown-item" href="#">Listar</a>
              <a class="dropdown-item" href="#">Actualizar</a>
              <a class="dropdown-item" href="#">Eliminar</a>
            </div>
          </li>
          <!--Fin Menu Cursos-->

          <!--Menu Matriculas-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Matriculas</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Crear</a>
              <a class="dropdown-item" href="#">Listar</a>
              <a class="dropdown-item" href="#">Actualizar</a>
              <a class="dropdown-item" href="#">Eliminar</a>
            </div>
          </li>
          <!--Fin Menu Matriculas-->
        </ul>

        {% block areaTrabajo %}

        {% endblock %}

      </div>
    </div>

  </body>
</html>
